In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
import numpy as np

In [2]:
df= pd.read_pickle("train_test_cat.pkl.bz2",compression="bz2")

In [3]:
df.head().T

,0,1,2,3,4
emp_title_cat,9,9,9,9,9
home_ownership_cat,4,4,4,4,4
loan_status_cat,2,2,2,2,2
job_cat,3,3,3,3,3
purpose_cat,1,1,1,1,1
application_type_cat,0,0,0,0,0
marital_cat,1,1,1,1,1
education_cat,0,0,0,0,0
mf_preference_cat,0,0,0,0,0
scheme_type_cat,38,34,38,36,34
scheme_cat_cat,0,4,0,4,4
scheme_sub_cat_cat,30,36,28,36,36
default_cat,0,0,0,0,0
housing_cat,0,0,0,0,0
loan_cat,0,0,0,0,0
member_id,1296599,1296599,1296599,1296599,1296599
annual_inc,24000,24000,24000,24000,24000
age,56,56,56,56,56
risk_profile,Moderately High,Moderately High,Moderately High,Moderately High,Moderately High
risk_score_x,2,2,2,2,2
mf_id,101186,126708,119819,141288,141929
amount,16153,7764,11489,7467,19289
tenure_yr,13,12,18,8,5
scheme_name,Tata Income Fund- Regular Plan - Periodic Pay...,HDFC FMP 370D January 2014 (1)- Regular Optio...,SBI Magnum Low Duration Fund - Direct Plan - ...,UTI FTIF Series XXVI-XII (1096 Days)- Direct ...,Sundaram Value Fund Series X Regular Plan - G...
Risk,Moderately High,Moderately High,Moderately High,Moderately High,Moderately High
popularity,38,31,27,29,22
rank,264,3043,6606,5013,11735
risk_score_y,4,4,4,4,4
emp_length_val,10,10,10,10,10
term_val,36,36,36,36,36
payment_hist,36.5086,36.5086,36.5086,36.5086,36.5086
credit_used,10,10,10,10,10

In [4]:
df.drop(columns=["mf_id","scheme_cat_cat","risk_profile","scheme_sub_cat_cat","Risk"],axis=1,inplace=True)

In [5]:
df = df.reset_index(drop=True)

In [6]:
pd.set_option('use_inf_as_na', True)

In [7]:
mean=df["emp_length_val"].mean()

In [8]:
df["emp_length_val"].fillna(mean,inplace=True)

In [9]:
df.head().T

,0,1,2,3,4
emp_title_cat,9,9,9,9,9
home_ownership_cat,4,4,4,4,4
loan_status_cat,2,2,2,2,2
job_cat,3,3,3,3,3
purpose_cat,1,1,1,1,1
application_type_cat,0,0,0,0,0
marital_cat,1,1,1,1,1
education_cat,0,0,0,0,0
mf_preference_cat,0,0,0,0,0
scheme_type_cat,38,34,38,36,34
default_cat,0,0,0,0,0
housing_cat,0,0,0,0,0
loan_cat,0,0,0,0,0
member_id,1296599,1296599,1296599,1296599,1296599
annual_inc,24000,24000,24000,24000,24000
age,56,56,56,56,56
risk_score_x,2,2,2,2,2
amount,16153,7764,11489,7467,19289
tenure_yr,13,12,18,8,5
scheme_name,Tata Income Fund- Regular Plan - Periodic Pay...,HDFC FMP 370D January 2014 (1)- Regular Optio...,SBI Magnum Low Duration Fund - Direct Plan - ...,UTI FTIF Series XXVI-XII (1096 Days)- Direct ...,Sundaram Value Fund Series X Regular Plan - G...
popularity,38,31,27,29,22
rank,264,3043,6606,5013,11735
risk_score_y,4,4,4,4,4
emp_length_val,10,10,10,10,10
term_val,36,36,36,36,36
payment_hist,36.5086,36.5086,36.5086,36.5086,36.5086
credit_used,10,10,10,10,10

In [10]:
scheme_names=df["scheme_name"].nunique()
scheme_names

13882

In [11]:
df=df.sample(frac=0.3)

In [12]:
X=df.drop(columns="scheme_name",axis=1)
y=df["scheme_name"]

In [13]:
y = df["scheme_name"].astype("category").cat.codes

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [15]:
# Test ,Train split
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7,test_size=0.3,random_state=100)

In [16]:
input_shape=X_train.shape

output_shape=y_train.shape

In [17]:
input_shape

(79180, 26)

In [18]:
output_shape

(79180,)

In [19]:
def one_hot(j):
    # input is the target dataset of shape (1, m) where m is the number of data points
    # returns a 2 dimensional array of shape (10, m) where each target value is converted to a one hot encoding
    # Look at the next block of code for a better understanding of one hot encoding
    n = j.shape[0]
    new_array = np.zeros((scheme_names, n))
    index = 0
    for res in j:
        new_array[res][index] = 1.0
        index = index + 1
    return new_array

In [20]:
y_train_enc=one_hot(y_train)
y_train_enc

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [21]:
y_train_enc.shape

(13882, 79180)

In [22]:
y_train =y_train_enc.T

In [23]:
X_train.shape

(79180, 26)

In [24]:
output=y_train.shape[1]
output

13882

In [25]:
# !pip install -q keras

In [26]:
from tensorflow import keras

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/tensorflow_p36/cpu/lib/python3.6/site-packages/tensorflow_core/__init__.py:1473: The name tf.estimator.inputs is deprecated. Please use tf.compat.v1.estimator.inputs instead.

In [27]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization, Activation ,Flatten
from tensorflow.keras import regularizers

In [28]:
# create model
nn_model = Sequential()
nn_model.add(Dense(1024, input_dim=26, activation='relu'))
nn_model.add(Dropout(rate=0.3))
nn_model.add(BatchNormalization())
nn_model.add(Dense(512, activation = 'relu'))
nn_model.add(Dropout(rate=0.3))
nn_model.add(BatchNormalization())
nn_model.add(Dense(256, activation = 'relu'))
nn_model.add(Dropout(rate=0.3))
nn_model.add(BatchNormalization())
nn_model.add(Dense(128, activation = 'relu'))
nn_model.add(Dropout(rate=0.3))
nn_model.add(BatchNormalization())
nn_model.add(Dense(64, activation = 'relu'))
nn_model.add(Dropout(rate=0.3))
nn_model.add(BatchNormalization())
nn_model.add(Dense(32, activation = 'relu'))
nn_model.add(Dense(output, activation='softmax'))

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/tensorflow_p36/cpu/lib/python3.6/site-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

In [29]:
nn_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 1024)              27648
_________________________________________________________________
dropout (Dropout)            (None, 1024)              0
_________________________________________________________________
batch_normalization (BatchNo (None, 1024)              4096
_________________________________________________________________
dense_1 (Dense)              (None, 512)               524800
_________________________________________________________________
dropout_1 (Dropout)          (None, 512)               0
_________________________________________________________________
batch_normalization_1 (Batch (None, 512)               2048
_________________________________________________________________
dense_2 (Dense)              (None, 256)               131328
_________________________________________________________________
dropout_2 (Dropout)          (None, 256)               0
_________________________________________________________________
batch_normalization_2 (Batch (None, 256)               1024
_________________________________________________________________
dense_3 (Dense)              (None, 128)               32896
_________________________________________________________________
dropout_3 (Dropout)          (None, 128)               0
_________________________________________________________________
batch_normalization_3 (Batch (None, 128)               512
_________________________________________________________________
dense_4 (Dense)              (None, 64)                8256
_________________________________________________________________
dropout_4 (Dropout)          (None, 64)                0
_________________________________________________________________
batch_normalization_4 (Batch (None, 64)                256
_________________________________________________________________
dense_5 (Dense)              (None, 32)                2080
_________________________________________________________________
dense_6 (Dense)              (None, 13882)             458106
=================================================================
Total params: 1,193,050
Trainable params: 1,189,082
Non-trainable params: 3,968
_________________________________________________________________

In [30]:
# !pip install tensorflow-gpu --upgrade

In [31]:
METRICS = [  
      keras.metrics.CategoricalAccuracy(name='cat_acc'),
      keras.metrics.TopKCategoricalAccuracy(k=5,name='top_k_acc'),
      keras.metrics.AUC(name='auc'),
]

In [32]:
nn_model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=[METRICS])

In [33]:
nn_model.fit(X_train, y_train, epochs=500, batch_size=100)

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/horovod/tensorflow/__init__.py:163: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/horovod/tensorflow/__init__.py:189: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

[2021-10-11 17:54:24.097 ip-172-16-101-122:27711 INFO utils.py:27] RULE_JOB_STOP_SIGNAL_FILENAME: None
[2021-10-11 17:54:24.182 ip-172-16-101-122:27711 INFO profiler_config_parser.py:111] Unable to find config at /opt/ml/input/config/profilerconfig.json. Profiler is disabled.
Train on 79180 samples
WARNING:tensorflow:OMP_NUM_THREADS is no longer used by the default Keras config. To configure the number of threads, use tf.config.threading APIs.
Epoch 1/500
 1700/79180 [..............................] - ETA: 9:43 - loss: 9.5402 - cat_acc: 0.0000e+00 - top_k_acc: 5.8824e-04 - auc: 0.5000

KeyboardInterrupt: